:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
  scroll-behavior: smooth;
}

/* SECTIONS (GENERAL) */
section {
  padding: 30px;
}
.btn {
  font-size: 1em;
  color: #fff;
  background: #e65423;
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
  border-radius: 30px;
}
.btn:hover {
  letter-spacing: 6px;
}
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.titleText {
  font-size: 7rem;
  /* font-weight: 300; */
  font-family: "Bebas Neue", cursive;
  color: #e65423;
}
p {
  font-weight: 300;
  color: #111;
}
.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.row .titleColumnLeft {
  width: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.row .titleColumnRight {
  width: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.row .titleColumnRight .titleText {
  color: #ffccbb;
}

/* HEADER NAVIGATION */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 20px 50px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0);
}
/* header.sticky {
  background: #fff;
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
} */
/* header.sticky .logo {
  color: #111;
} */
header .navigation {
  /* position: relative; */
  display: flex;
}
header .navigation li {
  list-style: none;
  margin-left: 85px;
}
header .navigation li a {
  text-decoration: none;
  color: #000;
  font-weight: 300;
  font-size: 20px;
}
/* header nav.sticky .navigation li a {
  color: #111;
} */
header .navigation li a:hover {
  color: #e65423;
}

/* BANNER SECTION */
.banner {
  position: relative;
  top: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./images/coverOffsetDesign1.png);
  background-size: cover;
  background-position: center;
}
.banner .content {
  max-width: 900px;
  text-align: center;
}
.banner .content h2 {
  font-size: 5em;
  color: #fff;
}
.banner .content p {
  font-size: 1em;
  color: #fff;
}
.banner .btn {
  position: absolute;
  bottom: 40%;
  transform: translateX(-50%);
}

/* MY WORK SECTION */
.mywork {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.mywork .content {
  margin: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mywork .content .card {
  position: relative;
  margin: 25px;
  width: 400px;
  /* background: chartreuse; */
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.04);
  cursor: pointer;
}
.mywork .content .card .imgBox {
  /* border: 1px solid brown; */
  width: 250px;
  overflow: hidden;
}
.mywork .content .card .imgBox img {
  width: 100%;
  object-position: center;
  object-fit: cover;
  transform: translateX(-10%);
}
.mywork .content .text {
  position: absolute;
  top: 50%;
  left: 200px;
  transform: translateY(-50%);
}
.mywork .content .text h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #000;
}
.mywork .content .text h3 a {
  text-decoration: none;
}

/* ABOUT SECTION */
.about {
  width: 100%;
  background: #e65423;
}

.about .content {
  margin: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.about .content .contentRow {
  display: flex;
  width: auto;
}
.about .content .contentRow .imgBox {
  margin: 10px;
  object-fit: contain;
}
.about .content .contentRow .text {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.about .content .contentRow .text p {
  margin: 16px 0;
}
.about .content p {
  color: #ffccbb;
}
.about .content img {
  width: auto;
  object-fit: contain;
}

/* CONTACT SECTION */
.contact {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.contact .content {
  position: relative;
  margin: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 24px;
}
.contact .content .text p {
  margin: 40px 0px;
  margin-left: 180px;
}
.contact .content .text span {
  color: #e65423;
}
.contact .content .text a {
  color: #000;
  text-decoration: none;
}
.fa-envelope {
  color: #e65423;
  margin-right: 10px;
}
.fa-phone {
  color: #e65423;
  margin-right: 10px;
}
.fa-linkedin-in {
  color: #e65423;
  margin-right: 10px;
}

/* FOOTER SECTION */
footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  padding: 20px 50px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background-color: #e65423;
}
footer .index {
  position: relative;
  display: flex;
  align-items: center;
}
footer .index li {
  list-style: none;
  margin: 50px;
}
footer .index li a {
  text-decoration: none;
  color: #ffccbb;
  font-weight: 300;
  font-size: 20px;
}
footer .index li a:hover {
  color: #000;
}
footer span {
  color: #e6e6e6;
}

@media screen and (max-width: 1300px) {
}
