:root {
  font-size: 16px;
  --primary-color: #e65423;
  --secondary-color: #ffccbb;
  --offset-dark: #3a3a3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Abel", sans-serif;
  color: var(--offset-dark);
  scroll-behavior: smooth;
}

/* SECTIONS (GENERAL) */
section {
  padding: 30px;
}
.title-text {
  margin-bottom: 24px;
  font-size: 7rem;
  font-family: "Pathway Gothic One", sans-serif;
  text-transform: uppercase;
  letter-spacing: -3px;
  color: var(--primary-color);
}
.spacer {
  height: 80px;
}

/* HEADER NAVIGATION */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 20px 50px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.04);
}
header .navigation {
  display: flex;
}
header .navigation li {
  list-style: none;
  margin-left: 85px;
}
header .navigation li a {
  text-decoration: none;
  color: var(--offset-dark);
  font-size: 26px;
}
header .navigation li a:hover {
  color: var(--primary-color);
}

/* PORTFOLIO SECTIONS */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.title-header {
  text-align: center;
}
.content {
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 480px));
  /* grid-template-columns: repeat(3, minmax(300px, 500px)); */
  grid-template-rows: 1fr;
  grid-gap: 15px;
  /* grid-auto-flow: dense; */
}
.gallery-item {
  width: 100%;
  /* height: 100%; */
  position: relative;
  /* border: 1px solid chartreuse;
  background-color: chocolate; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  /* object-position: 50% 50%; */
  transition: 0.4s ease-in-out;
}
.gallery-item:hover img {
  transform: scale(1.02);
}

/* GRID SPAN */
.w-1 {
  grid-column: span 1;
}
.w-2 {
  grid-column: span 2;
}
.w-2 img {
  width: 65%;
}
.h-1 {
  grid-row: span 1;
}
.h-2 {
  grid-row: span 2;
}
.h-2 img {
  height: 85%;
  object-fit: cover;
}

/* FOOTER SECTION */
footer {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 90px;
  padding: 20px 50px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
  background-color: var(--primary-color);
  font-size: 16px;
}
footer img {
  width: 200px;
}
footer .index {
  position: absolute;
  display: flex;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
}
footer .index li {
  list-style: none;
  margin: 50px;
  text-align: center;
}
footer .index li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 300;
  font-size: 24px;
}
footer .index li a:hover {
  color: var(--offset-dark);
}
footer p {
  text-align: right;
}
footer span {
  color: #e6e6e6;
}

@media screen and (max-width: 1450px) {
  /* HEADER NAVIGATION (<1450px) */
  header {
    height: 80px;
    padding: 15px 30px;
  }
  header .navigation li {
    margin-left: 40px;
  }
  header .navigation li a {
    font-size: 22px;
  }

  /* FOOTER SECTION (<1450px) */
  footer {
    padding: 15px 30px;
    height: 80px;
  }
  footer img {
    width: 180px;
  }
  footer .index li {
    margin: 35px;
  }
  footer .index li a {
    font-size: 20px;
  }
  footer p {
    text-align: right;
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  /* HEADER NAVIGATION (<999px) */
  .slideshow .btn {
    font-size: 18px;
    padding: 8px 22px;
  }
  header {
    height: 80px;
    padding: 15px 30px;
  }
  header .logo img {
    width: 85%;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #fff;
  }
  header .navigation li {
    margin: 24px 0px;
  }
  header .navigation li a {
    color: #111;
    font-size: 1.6em;
  }
  .menuToggle {
    position: relative;
    width: 40px;
    height: 40px;
    background: url(./images/menu.png);
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    filter: invert(1);
    z-index: 10;
  }
  .menuToggle.active {
    background: url(./images/close.png);
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
  }
  .title-text {
    font-size: 5rem;
  }
  .row .content {
    width: 100vw;
    overflow: hidden;
  }

  /* PORTFOLIO SECTIONS */
  .content {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
    /* grid-template-columns: repeat(3, minmax(300px, 500px)); */
    grid-template-rows: 1fr;
    grid-gap: 15px;
    /* grid-auto-flow: dense; */
  }

  /* FOOTER SECTION (<999px) */
  footer {
    padding: 15px 30px;
    height: 120px;
    flex-direction: column;
    justify-content: space-around;
  }
  footer img {
    width: 140px;
  }
  footer .index li {
    display: none;
  }
  footer p {
    text-align: center;
    font-size: 12px;
  }
}
